*{
  margin:0;
  padding:0;
}
body{
  text-align:center;
  background-image:url("bg.svg");
  background-repeat:no-repeat;
}
h1{
  font-size:3rem;
  padding:2rem;
}
.main{
  margin:6vh auto;
  text-align: center;
  min-height:80vh;
  max-width: 80%;
  background-color: #49A0EB;
}

label{
  
  display:block;
  padding:1rem;

}
input{
  width:20vw;
  height:5vh;
  font-weight: bold;
}
button{
  background-color: black;
  color:white;
  margin:1rem;
  padding:0.7rem;
  border-radius: 0.5rem;
  border:1px solid black;
  cursor:pointer;

}

footer{
  background-color: #052634;
  min-height:4rem;
}

.footerLink a{
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-size: 1.1rem;
  color:white;
  cursor: pointer;
}
footer ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.output{
    border:2px solid black;
    max-width:40%;
    padding:3rem;
    margin:auto;
    display:none;
    text-align:center;
    font-weight:bold;
    font-size:1.2rem;
}